html
  head
    title= titel 
  body
    h1 New Post 
    div 
       form(action="/posts/")
          label(for="titel") title 
          input(id="titel" name="titel" type="text")
          labe(for="content") content 
          input(id="content" name= "content" type="text")
          input(type="submit" value="Speichern")
    